@font-face {
	font-family: "logoCursive";
	src: url("logofont/logoCursive.ttf);
}
body{
	background-color: #CC9900;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3{
	color: black;
}

#header{
	background-color: #00CCFF;
}

#mainhead {	
	font-family: "logoCursive", serif;
}


#Events{	
	background-color: #00CCFF;
}
	
.profile{ 
	background-color: #00CCFF;
}

#footer{
	background-color: #00CCFF;
}

a:link{
	color: maroon;
}

a:visited {
	color: black;
}

a:hover {
	background: maroon;
	color: black;
}